---
layout: default
title: Todd Motto
---

				<section class="posts">
				    <ul class="block-list">
				        {% for post in paginator.posts %}
				        <li class="main-article">
				            <a href="{{ post.url }}" class="box post transition">{{ post.title }} <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span></a>
				        </li>
				        {% endfor %}
				    </ul>
				</section>
				
				<ol class="nav  pagination">
				    <li class="pagination__prev">
				        {% if paginator.previous_page %}
				        {% if paginator.previous_page == 1 %}
				            <a href="/">Previous</a>
				        {% else %}
				            <a href="/page{{paginator.previous_page}}">Previous</a>
				        {% endif %}
				        {% else %}
				            Previous
				        {% endif %}
				    </li><!--
				    
				 --><li class="pagination__next">
				        {% if paginator.next_page %}
				            <a href="/page{{paginator.next_page}}">Next</a>
				        {% else %}
				            Next
				        {% endif %}
				    </li>
				</ol>