---
layout: default
title: Todd Motto
---

				<section class="posts">
					<ul class="posts-list">
						{% for post in paginator.posts %}
						<li class="post">
							<a href="{{ post.url }}" class="box transition">
								<h2 class="post-title">{{ post.title }}</h2>
								<span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
							</a>
						</li>
						{% endfor %}
					</ul>
					<div class="pagination">
							{% if paginator.previous_page %}
							{% if paginator.previous_page == 1 %}
								<a href="/" class="pagination-previous">Previous</a>
							{% else %}
								<a href="/page{{paginator.previous_page}}" class="pagination-previous">Previous</a>
							{% endif %}
							{% else %}
								<span>Previous</span>
							{% endif %}
							{% if paginator.next_page %}
								<a href="/page{{paginator.next_page}}" class="pagination-next">Next</a>
							{% else %}
								<span>Next</span>
							{% endif %}
					</div>
				</section>