---
layout: default
title: Todd Motto
---

				<section class="posts">
					<ul class="posts-list">
						{% for post in paginator.posts %}
						<li class="post">
							<a href="{{ post.url }}" class="box transition">
								<h2 class="post-title">{{ post.title }}</h2>
								<span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
							</a>
						</li>
						{% endfor %}
					</ul>
				</section>
				
				<ol class="pagination">
					<li class="pagination-prev">
						{% if paginator.previous_page %}
						{% if paginator.previous_page == 1 %}
							<a href="/">Previous</a>
						{% else %}
							<a href="/page{{paginator.previous_page}}">Previous</a>
						{% endif %}
						{% else %}
							Previous
						{% endif %}
					</li>
					<li class="pagination__next">
						{% if paginator.next_page %}
							<a href="/page{{paginator.next_page}}">Next</a>
						{% else %}
							Next
						{% endif %}
					</li>
				</ol>