/*
	Todd Motto
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    $RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
img {
	max-width:100%;
	vertical-align:bottom;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body {
	font:100 15px/1.6 'Museo Slab 500', Helvetica, Arial, sans-serif;
	color:#717171;
	background:#DDD;
}
a,
a:hover,
a:visited {
	color:#2BA6CB;
	text-decoration:none;
}

/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/

.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.main {
	float:left;
	width:100%;
}
.main-article {
	background:#F0F0F0;
	margin:0 340px 0 20px;
	border-left:8px solid #CCC;
}
.main-article:hover {
	border-left:8px solid #2BA6CB;
}
.header {
	border-left:8px solid #2BA6CB;
}
.logo {
	
}
.logo-img {
	
}
.sidebar {
	position:absolute;
	right:20px;
	width:300px;
}
.box {
	margin:20px;
	padding:40px;
	background:#F0F0F0;
}
.post {
	padding:40px;
	display:block;
}

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Museo Slab 500';
	src:url('fonts/Museo_Slab_500-webfont.eot');
	src:url('fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/Museo_Slab_500-webfont.woff') format('woff'),
		url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
		url('fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/*------------------------------------*\
    $MISC
\*------------------------------------*/

.transition {
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}