/*
	Todd Motto
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    $RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
img {
	max-width:100%;
	vertical-align:bottom;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body {
	font-family:'Museo Sans 500', Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:900;
	line-height:24px;
	color:#717171;
	background:#DDD;
}

/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/

.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.main {
	float:left;
	width:100%;
}
.main-article {
	padding:40px;
	background:#F0F0F0;
	margin:0 340px 0 20px;
	border-left:8px solid #CCC;
}
.main-article:hover {
	border-left:8px solid #CCC;
}
.header {
	border-left:8px solid #2BA6CB;
}
.logo {
	
}
.logo-img {
	
}
.sidebar {
	position:absolute;
	right:20px;
	width:300px;
}
.box {
	margin:20px;
	padding:40px;
	background:#F0F0F0;
}

/*------------------------------------*\
    $MISC
\*------------------------------------*/

.smooth {
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}