/*
	Todd Motto
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    $RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
img {
	max-width:100%;
	vertical-align:bottom;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body {
	font:100 15px/1.6 'Museo Slab 500', Helvetica, Arial, sans-serif;
	color:#717171;
	background:#DDD;
}
a,
a:hover,
a:visited {
	color:#2BA6CB;
	text-decoration:none;
}

/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/

.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.main {
	float:left;
	width:100%;
}
.header {
	border-left:8px solid #2BA6CB;
	margin:20px 0;
	overflow:hidden;
}
.footer {
	margin:20px 0;
	padding:20px;
	background:#444;
	color:#FFF;
	float:left;
	width:100%;
}
.logo {
	float:left;
}
.logo-img {
	
}
.nav {
	float:right;
}
.nav li {
	display:inline-block;
}
.nav li a {
	
}
.sidebar {
	position:absolute;
	right:0;
	width:320px;
}
.box {
	padding:40px;
	background:#F9F9F9;
}
.posts {
	
}
.full-post {
	background:#FFF;
	padding:45px;
	margin:0 340px 0 0;
}
.full-title {
	color:#2BA6CB;
	font-weight:100;
	font-size:20px;
	margin:0 0 35px;
}
.posts-list {
	list-style:none;
}
.post {
	border-bottom:1px solid #EEE;
	margin:0 340px 0 0;
}
.post a {
	border-left:8px solid #CCC;
	display:block;
	font-size:16px;
}
.post a:hover {
	border-left:8px solid #2BA6CB;
}
.post-title {
	font-size:16px;
	font-weight:100;
}
.post-date {
	display:block;
	color:#444;
	font-size:12px;
}
.hidden {
	display:none;
}
.pagination {
	margin:0 340px 0 0;
	background:#444;
	color:#888;
	overflow:hidden;
}
.pagination a {
	color:#FFF;
}
.pagination a,
.pagination span {
	padding:15px 25px;
	display:inline-block;
}
.pagination-previous {
	float:left;
	width:50%;
}
.pagination-next {
	text-align:right;
	float:right;
	width:50%;
}
.item {
	margin:0 0 20px;
	background:#444;
	padding:20px;
	color:#FFF;
	font-size:13px;
}
iframe[src*="twitter"] {
	vertical-align:middle;
}
#carbonads {
	margin:0 0 20px;
}
.carbonad {
	border:0 !important;
	width:320px !important;
	background-color:#444 !important;
}

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Museo Slab 500';
	src:url('fonts/Museo_Slab_500-webfont.eot');
	src:url('fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/Museo_Slab_500-webfont.woff') format('woff'),
		url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
		url('fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
	font-weight:normal;
	font-style:normal;
}

/*------------------------------------*\
    $MISC
\*------------------------------------*/

.transition {
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}