/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    SVG Sprite Icons
\*------------------------------------*/

.svg .s-icon {
	background-image:url(../img/icons.svg);
}
.s-icon,
.no-svg .s-icon {
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
	display:inline-block;
	height:32px;
	width:32px;
	border-radius:3px;
}
.s-icon:hover {
	opacity:0.7;
}
.s-icon-twitter {
	background-color:#00C4FC;
	background-position:0px 0px; /* 0 */
}
.s-icon-dribbble {
	background-color:#EE7BFF;
	background-position:-32px 0px; /* 0 */
}
.s-icon-youtube {
	background-color:#DD4B39;
	background-position:-64px 0px; /* 0 */
}
.s-icon-flickr {
	background-color:#F9F9F9;
	background-position:-96px 0px; /* 0 */
}
.s-icon-forrst {
	background-color:#13A562;
	background-position:0px -32px; /* 32 */
}
.s-icon-facebook {
	background-color:#3350AE;
	background-position:-32px -32px; /* 32 */
}
.s-icon-vimeo {
	background-color:#00C4FC;
	background-position:-64px -32px; /* 32 */
}
.s-icon-rss {
	background-color:#FF7427;
	background-position:-96px -32px; /* 32 */
}
.s-icon-google {
	background-color:#DD4B39;
	background-position:-0px -64px; /* 64 */
}
.s-icon-linkedin {
	background-color:#0086D2;
	background-position:-32px -64px; /* 64 */
}
.s-icon-tumblr {
	background-color:#2C4762;
	background-position:-64px -64px; /* 64 */
}
.s-icon-skype {
	background-color:#00C4FC;
	background-position:-96px -64px; /* 64 */
}
.s-icon-github {
	background-color:#555;
	background-position:-0px -96px; /* 96 */
}
.s-icon-githubcat {
	background-color:#555;
	background-position:-32px -96px; /* 96 */
}
.s-icon-pinterest {
	background-color:#DD4B39;
	background-position:-64px -96px; /* 96 */
}
.s-icon-feedburner {
	background-color:#0086D2;
	background-position:-96px -96px; /* 96 */
}