<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		
		<link rel="dns-prefetch" href="//www.google-analytics.com">
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			<header class="header box">
				<div class="logo">
					<a href="/">
						<img src="/img/logo.svg" class="logo-img" alt="Logo">
					</a>
				</div>
			</header>
			
			<section class="main">
				<h1 class="hidden">Todd Motto - Front-end development tutorials, downloads, plugins on HTML5/CSS3/JavaScript/jQuery</h1>
				{{ content }}
			</section>
			
			<aside class="sidebar">
				<img src="/img/todd.jpg">
				<p class="bio">
					Front-end web developer. HTML5 and CSS3 lover, JavaScript and jQuery addict. 
					I make stuff like <a href="//conditionizr.com" target="_blank">Conditionizr</a> and 
					<a href="//html5blank.com" target="_blank">HTML5 Blank</a>.
				</p>
				<div id="carbonads">
					<div class="carbonad">
						<div id="azcarbon"></div>
					</div>
				</div>
			</aside>
			
			<footer class="footer">
				
			</footer>
			
		</div>
		
		<script>
			var z = document.createElement('script');
			z.async = z.src = '//engine.carbonads.com/z/20676/azcarbon_2_1_0_HORIZDARK';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(z, s);
		</script>
	
	</body>
</html>