<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		
		<link rel="dns-prefetch" href="//www.google-analytics.com">
		
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			<header class="header box">
				<div class="logo">
					<a href="/">
						<img src="/img/logo.svg" class="logo-img" alt="Logo">
					</a>
				</div>
			</header>
			
			<section class="main">
				<article class="main-article">
					{{ content }}
				</article>
			</section>
			
			<aside class="sidebar">
				<img src="/img/todd.jpg">
				<div id="carbonads">
					<div class="carbonad">
						<div id="azcarbon"></div>
					</div>
				</div>
			</aside>
		</div>
		
	<script>
		var z = document.createElement('script');
		z.async = z.src = '//engine.carbonads.com/z/20676/azcarbon_2_1_0_HORIZDARK';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(z, s);
	</script>
	
	</body>
</html>