---
layout: default
---

		<article class="full-post">
			<h1 class="full-title">{{ page.title }}</h1>
			{{ content }}
			<div class="disqus">
				<div id="disqus_thread"></div>
			</div>
		</article>
		
		{%if page.disqus %}var disqus_url = "{{ page.disqus }}";{% endif %}
		
		<script>
			var disqus_shortname = 'toddmotto';
			(function() {
				var dsq = document.createElement('script');
				dsq.async = dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				document.getElementsByTagName('head')[0].appendChild(dsq);
			})();
		</script>